{% extends "inventory/base.html" %}
{% load crispy_forms_tags %}
{% block title %}{{ title }}{% endblock %}
{% block nav_items %}active{% endblock %}

{% block content %}
<nav aria-label="breadcrumb" class="mb-3">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'inventory:item_list' %}">Items</a></li>
    {% if item %}<li class="breadcrumb-item"><a href="{{ item.get_absolute_url }}">{{ item.display_name }}</a></li>{% endif %}
    <li class="breadcrumb-item active">{{ title }}</li>
  </ol>
</nav>

<div class="row justify-content-center">
  <div class="col-12 col-lg-9">
    <div class="card">
      <div class="card-header"><h5 class="mb-0">{{ title }}</h5></div>
      <div class="card-body">
        {% crispy form %}
      </div>
    </div>
  </div>
</div>
{% endblock %}
